<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>user</title>
</head>
<body>

  <form class="" action=<%= linkStuff.nextStep %> method="post">
      <input type="hidden" name="friend_id" value=<%= user %>>
      <button type="submit"><%= linkStuff.label %></button>
  </form>

  <% if (true) { %>
    <% firstDegreeConnections.forEach(function(lnk) { %>
      <div><a href="/"<%= lnk.email %>><%= lnk.email %></a></div>
      <% }) %>
  <% } %>

</body>
</html>
