<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>user</title>
</head>
<body>

  <% if (!myPage) { %>
  <form class="" action=<%= linkStuff.nextStep %> method="post">
      <input type="hidden" name="friend_id" value=<%= user %>>
      <button type="submit"><%= linkStuff.label %></button>
  </form>
  <% } %>

  <% if (myPage) { %>
    <% firstDegreeConnections.forEach(function(lnk) { %>
      <% var ihaven_oIdea_whatscopethisisin = '/' + lnk.email; %>
      <div><a href=<%= ihaven_oIdea_whatscopethisisin %>><%= lnk.email %></a></div>
      <% }) %>
  <% } %>

</body>
</html>
